html, body {
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
 line-height: 1.7em;
}

* {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

a {
 color: red;
 text-decoration: none;
}
/* Navbar */
#navbar {
  background-color: #050505;
  color: #fff;
  overflow: auto;
}

#navbar a {
 color: #ffff;
}

#navbar h1 {
 float: left;
 padding-top: 20px;
}

#navbar ul {
 list-style: none;
 float: right;
}

#navbar ul li{
 float: left;
 margin-bottom: none;
}

#navbar ul li a {
 display: block;
 padding: 20px;
 text-align: center;
}

#navbar ul li a:hover,
#navbar ul li a.current {
 border-color: #3d8e33;
 background: #FFF;
 color: grey;
}

#welcome{
  background: url('../imagenes/black2.png') no-repeat center center/cover;
}

.text-primary {
  color: rgb(236, 2, 2);
}

.lead {
  font-size: 20px;
}

#welcome .welcome-content {
  text-align: center;
  color: #fff;
  padding-top: none;
}

.letter{
  font-size: 12px;
}

.letter1{
  font-size: 18px;
  padding-top: 25.5px;
}

#table .table1{
  color: #ffff;
  background: #050505;
}

.clr {
  clear: both;
}

#main-footer {
  text-align: center;
  background: #ffff;
  color: #050505;
  padding: 20px;
}
